.add-topic-btn {
    border: none;
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto;
    border-radius: 5px;
    display: flex;
}


.topics-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.topics {
    overflow-y: auto;
    flex-grow: 1;
    padding: 10px 20px;
}