input[type="checkbox"]:checked {
    border: 1px solid red !important;
}

input[type="checkbox" i] {
    color: brown !important;
    cursor: pointer;
}

.note {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.bookmark {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.question-title {
    text-transform: capitalize;
}

.action-items {
    display: flex;
    gap: 10px;
}